{% extends "layout.html" %}

{% block body %}

<div class="row">
<div class="col-md-8 offset-md-3">
      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{article.title}}</h1>

        <!-- Author -->
        <p class="lead">
          
            {{article.author.username}}
            Tarafından
        </p>

        <hr>

        <!--Preview Image -->
        {% if article.article_image %}
        <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="">
         {% endif %}
        
        
        <hr> 


        <!-- Post Content -->
      
        <p class="lead">
         {{article.content|safe}}
        
        <hr>
        <!-- Date/Time  --> 
        <p>Tarih Bilgisi</p>
            {{article.created_date}}
        </p>



        
        <h4>Yorumlar</h4>
        <br>

        {% if comments %}
        {% for comment in comments  %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50">
          <h5 class="mt-0">{{comment.comment_author}}</h5>
            {{comment.comment_content}} <br>
            {{comment.comment_date}}
          </div>
        </div>
        {% endfor %}
        
        {% else %}
        <div class ='alert alert-warning'>
        Bu Yazıda herhangi bir yorum bulunmuyor.Yorum yapmak istermisiniz?</div>
        {% endif %}

        <div class="card my-4">
          <h5 class="card-header">Yorum Formu</h5>
          <div class="card-body">
            <form method = 'Post' action = '{% url "article:comment" article.id%}'>
                {% csrf_token %}
                <div class="form-group">
                <label for="formGroupExampleInput">İsim</label>
                <input name = 'comment_author' type="text" class="form-control" id="formGroupExampleInput" placeholder="Yorum Yapmka istediginiz ismi yazınız">
                </div>
                <div class="form-group">
                <textarea name = 'comment_content' class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Yorumla</button>
            </form>
          </div>
        </div>



        </div>
        </div>
      </div>



{% endblock body %}
